:root {
  --grid-size: 120px;
}

table.tracklist {
  border-collapse: collapse;
  border: none;
  width: calc(100% - 6rem);
  margin: 0 3rem;

  tr {
    td:first-child {
      padding-left: 1rem;
      &::before {
        content: "▶︎ ";
        font-size: 0.9em;
        display: inline-block;
        visibility: hidden;
        transform: translate(-5px, -1px);
      }
    }
    td:last-child {
      text-align: end;
      padding-inline-end: 8px;
    }

    &:hover{
      background-color: lightblue;
      td:first-child:has(~ td:nth-child(2) a)::before { visibility: visible; }
    }
  }
}

.view-details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--grid-size));
  gap: 8px;
  width: 100%;

  /* Trick to make open entries use the full row. */
  details:open, .grid-category { grid-column: 1/-1; }

  .grid-category {
    padding-bottom: 2px;
    border-bottom: 1px solid black;
  }

  details {
    display: flex;

    > summary {
      list-style: none;
      ::-webkit-details-marker { display: none; }
      width: var(--grid-size);
      height: var(--grid-size);
      box-shadow: var(--border-bevel);
      padding: 3px;
      flex-shrink: 0;

      &:active{
        box-shadow: var(--border-bevel-pressed);
        img { filter: brightness(0.7) }
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    article {
      margin-left: 8px;

      &::after {
        content: '';
        display: block;
        width: 100%;
        border-bottom: 1px solid black;
        margin-top: 8px;
      }
    }
  }
}